.header{
  background:black;
  padding:10px 20px ;
  text-align: center;
  font-size: 25px;
  color: cyan;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 50px;
}

.App{
  display: flex;
  flex-direction: row;
  flex:1;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 20px;
}

.radio-station{
  background: #ddd;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 5px;
  cursor: pointer;
}

.radio-station img{
  width: 250px;
  height: 200px;
}